/**
 * Variables
 */

:root {
  /* colors */
  --c-smokey: #58595b;
  --c-orange: #ff8200;
  --c-sunsphere: #fed535;
  --c-white: #ffffff;
  --c-gray--light: #58595b18;

  /* fonts */
  --f-system: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

  /* misc */
  --global-radius: 3px;
}





/**
 * Styles
 */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--c-gray--light);
  color: var(--c-smokey);
  display: flex;
  flex-direction: column;
  font-family: var(--f-system);
  line-height: 1.5;
}

a {
  color: #006C93;
  text-decoration: none;
  transition:
    background-color 200ms ease-out,
    color 200ms ease-out;
}

a:hover,
a:focus {
  background-color: var(--c-gray--light);
  color: #ee3e80;
}

a:active {
  color: #ff8200;
}

a:visited {
  color: #754a7e;
}

.text-center {
  text-align: center;
}

.application {
  flex-grow: 1;
  padding: 1rem;
}

@media screen and (min-width: 60rem) {
  .application {
    display: flex;
    align-items: center;
  }

  .application > div {
    flex: 0 0 50%;
    padding: 1rem;
  }
}

h1 {
  font-size: calc(1.5vmax + 1rem);
  margin-top: 0;
}

blockquote {
  background-color: var(--c-gray--light);
  border-left: .5em solid var(--c-orange);
  border-radius: var(--global-radius);
  font-size: calc(1vmax + .5rem);
  margin: 0 auto;
  max-width: 48rem;
  padding: 1em;
}

blockquote p {
  margin-top: 0;
}

.heart-stars {
  font-size: calc(1vmax + 1rem);
  margin-top: 2.25em;
  margin-bottom: 1rem;
}

.heart-stars__count {
  color: var(--c-sunsphere);
  display: block;
  font-size: calc(1.5vmax + 1rem);
  letter-spacing: .125em;
  text-shadow: 0 0 .125em black;
  white-space: nowrap;
}

.social-media {
  margin-bottom: 1.5rem;
  word-spacing: 1em;
}

.c-icon {
  display: inline-block;
  height: calc(1vmax + 1rem);
  stroke-width: 0;
  vertical-align: middle;
  width: calc(1vmax + 1rem);
}

.c-icon--twitter {
  fill: #1da1f2;
}

.c-icon--facebook {
  fill: #3b5998;
}

.leadership-rep-button {
  margin: 0 auto;
  max-width: 36rem;
}

.button {
  background-color: var(--c-orange);
  background-image:
    linear-gradient(
      to top,
      var(--c-orange),
      hsl(38, 100%, 50%)
    );
  border: 1px solid var(--c-gray--light);
  border-radius: var(--global-radius);
  box-shadow: 0 .063em .25em #aaa;
  color: var(--c-white);
  display: block;
  font-size: calc(1vmax + 1rem);
  font-weight: bold;
  letter-spacing: .063em;
  line-height: 1;
  padding: 1em;
  text-shadow: 0 1px .125em var(--c-smokey);
  text-transform: uppercase;
  transition:
    box-shadow 200ms ease-out,
    transform 200ms ease-out;
  width: 100%;
}

.button:hover,
.button:focus {
  box-shadow: 0 .375em .375em -.25em #aaa;
  transform: translateY(-1px);
}

.footer {
  background-color: var(--c-white);
  padding: 1rem;
}
